@import "about.css";
/* Default CSS
=================================================*/
/* preloader */
.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #fff url(assets/img/loader.gif) no-repeat center;
  z-index: 999999;
}
:root {
  --themeColor: #c19b76;
  --transition: all 0.3s ease-in-out;
  --boxShadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #6a6c72;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  outline: 0 !important;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-0 {
  padding-bottom: 0;
}

.mb-30 {
  margin-bottom: 30px;
}

a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: 0 !important;
}

a:hover {
  text-decoration: none;
  color: var(--themeColor);
}
.ptb-50 {
  padding: 50px 0px;
}
p {
  font-size: 15px;
  line-height: 1.7;
  color: #6a6c72;
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #202647;
}

.default-btn-one {
  display: inline-block;
  padding: 13px 30px;
  color: #ffffff;
  text-transform: capitalize;
  background-color: #f20791;
  border: 1px solid #f20791;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
}
.default-btn-two:hover {
  background-color: #ffffff;
  color: #f20791;
}
.default-btn-one:hover {
  background-color: #ffffff;
  color: #f20791;
}
.video-play-btn {
  padding: 10px 30px;
  font-size: 18px;
  margin-left: 5px;
}
.section-title {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.section-title span {
  font-size: 14px;
  color: #f20791;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.section-title h3 {
  font-size: 38px;
  color: #202647;
  font-weight: bold;
  margin: 0;
  position: relative;
  padding-bottom: 20px;
}
/* section-title-left */
.section-title h3::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 80px;
  background-color: var(--themeColor);
  bottom: 0;
  left: 0;
  margin: auto;
}

.section-title h3::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 32px;
  background-color: #ff724e;
  bottom: 0;
  margin: 0 auto 0;
  left: 100px;
}
.section-title h1 {
  position: absolute;
  top: -39px;
  font-size: 115px;
  z-index: 1;
  color: #84848413;
  text-transform: uppercase;
  left: 50%;
  transform: translate(-50%);
}
/* section-title-center */
.align-center.section-title h3::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 80px;
  background-color: #fab4a2;
  bottom: 0;
  left: 0;
  right: 35px;
  margin: auto;
}
.align-center.section-title h3::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 32px;
  background-color: #ff724e;
  bottom: 0;
  margin: 0 auto 0;
  left: 95px;
  right: 0;
}
.bg-fafafa {
  background-color: #fafafa;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
/* scroll-top-indicator */
.scroll-top-indicator {
  position: fixed;
  right: 5px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  background: var(--themeColor);
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  color: #fff;
  border-radius: 50%;
  z-index: 99999;
  display: none;
}
.scroll-top-indicator i {
  font-weight: 700;
}
/* defalut end */
/*--------------------------------------
 header-area-start
 ------------------------------------- */
.project-hero-wrapper {
	position: relative;
	width: 100%;
	/* height: 100%; */
}
.nav-header ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.nav-header ul li a {
  display: block;
  padding: 10px 8px;
  font-weight: 700;
  /* color: #131f58; */
  font-size: 12px;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.nav-header ul li a:hover {
  color: var(--themeColor);
}
.nav-header ul li {
  position: relative;
}
.nav-header.displayNav {
	background: #FFF;
}
.submenu {
  position: absolute;
  top: 100px;
  left: 10px;
  opacity: 0;
  visibility: hidden;
  background-color: var(--themeColor);
  width: 180px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  z-index: 99999;
}
.barnd-logo a {
	float: right;
	font-size: 22px;
	border: 1px solid#F4f4f4;
	padding: 0px 8px;
	border-radius: 3px;
	display: none;
	color: #FFF;
}
.nav-header ul li:hover .submenu {
  opacity: 1;
  visibility: visible;
  top: 50px;
}

.nav-header.displayNav ul li a {
	color: #646464;
	padding: 15px;
}
.three-bars span {
  position: relative;
  display: block;
  margin: 5px 0px;
  width: 40px;
  height: 3px;
}
.three-bars span::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background: #ffffff;
  top: 0;
}
.three-bars span:nth-child(3)::before {
  width: 20px;
  right: 10px;
}
.three-bars span:hover.three-bars span:nth-child(3)::before {
  width: 40px;
}
.search-box-header {
  padding: 10px 0px;
  position: relative;
}
.search-bar {
  position: absolute;
  right: 70px;
  width: 300px;
  padding: 20px 10px;
  box-shadow: var(--boxShadow);
  top: 55px;
  display: none;
  z-index: 999;
  background: #fff;
}
.search-bar input:focus {
  box-shadow: none;
  border: 1px solid var(--themeColor);
}
.form-control {
  height: calc(1.5em + 0.75rem + 15px);
}
.search-bar .form-group {
  margin-bottom: 0;
}
.search-bar input[type="text"] {
  position: relative;
}
.search-bar input[type="submit"] {
  position: absolute;
  right: 11px;
  top: 21px;
  height: calc(1.5em + 0.75rem + 15px);
  border: 0;
  width: 40px;
  border-radius: 1px;
  color: #fff;
  background-color: var(--themeColor);
  font-weight: 500;
}
.three-bars {
  float: right;
  padding: 0px;
  cursor: pointer;
  margin-top: -5px;
}
.search-icon {
  float: left;
  width: 100px;
  text-align: right;
  position: relative;
}
.barnd-logo {
  padding: 5px 0px;
}
.search-icon i {
  font-size: 15px;
  font-weight: 500px;
  cursor: pointer;
  transition: var(--transition);
  position: absolute;
  right: 100%;
  color: #fff;
}
.search-icon i.fa-close {
  display: none;
}
.search-icon i:hover {
  color: var(--themeColor);
}


/* hero-content */

/* -------------- */
/* team-section */
.team-section {
  background: #f6f5fb;
  position: relative;
}
.single-team-wrapper {
  background: #ffffff;
  margin-bottom: 20px;
}
.team-image img {
  width: 100%;
}
.team-content.text-center h6 {
  display: block;
  margin-top: 25px;
  font-size: 22px;
  color: #4b4b4b;
}
.team-content span {
  color: #9f9f9f;
}
.team-content.text-center ul li {
  display: inline-block;
}
.team-content.text-center ul li a {
  color: var(--themeColor);
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  margin: 0px 3px;
  transition: var(--transition);
}
.team-content.text-center ul li a:hover {
  background: var(--themeColor);
  color: #fff;
  border: 1px solid var(--themeColor);
}
.team-content.text-center ul {
  padding: 20px;
}
/* blog-area */
.single-blog-wrapper {
  border: 1px solid #f4f4f4;
  transition: var(--transition);
  margin-bottom: 20px;
  position: relative;
}
.single-blog-wrapper:hover {
  box-shadow: var(--boxShadow);
}
.single-blog-wrapper:hover .default-btn-two {
  background: transparent;
  color: var(--themeColor);
}
.blog-text-content.text-left {
  padding: 14px;
}
.blog-img {
  overflow: hidden;
}
.blog-img img {
  max-width: 100%;
  transition: transform 5s ease-in-out;
}
.blog-img img:hover {
  transform: scale(1.8);
}
.blog-date {
  position: absolute;
  right: -30px;
  top: 40%;
  text-align: center;
  background: var(--themeColor);
  padding: 3px;
  transform: rotate(90deg);
}
.blog-date span {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 10px;
}
.blog-text-content ul {
  margin: 5px 0px;
}
.blog-text-content ul li {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #060606e6;
}
.blog-text-content ul li i {
  margin-right: 5px;
  color: var(--themeColor);
}
.blog-text-content ul li a {
  color: #060606e6;
  margin-right: 10px;
  display: block;
  font-size: 14px;
  font-weight: 500;
}
.blog-text-content h4 {
  font-size: 17px;
}
.blog-text-content p {
  font-size: 13px;
  text-align: justify;
}

/* cta-section */
.call-to-action-section {
	background: #150E07;
	padding: 40px 0px;
}
.cta-right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.cta-right form {
  width: 100%;
}
.cta-right form input[type="text"] {
  width: 75%;
  border: 0;
  padding: 15px;
  border-radius: 5px;
}

.cta-right form input[type="submit"] {
  width: 25%;
  padding: 15px;
  border: 0;
  margin-left: -5px;
  background: var(--themeColor);
  color: #fff;
  border-radius: 5px;
  transition: var(--transition);
}
.cta-right form input[type="submit"]:hover {
  background: #060c2a;
}
.cta-left h4 {
	color: #FFF;
}
.cta-left span {
  color:#FFF;
}
.footer-widget-section.ptb-100 {
  position: relative;
}
.footer-widget-section {
  background: url(assets/img/shape/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.footer-widget-section h4 {
	color: #fff;
	font-size: 17px;
	border-bottom: 1px solid #616161;
	padding: 15px 0px;
	margin-bottom: 15px;
}
.footer-widget-section::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #150E07;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
}
.single-widget-footer ul li a {
  color: #d4d4d4;
}
.single-widget-footer p {
  color: #d4d4d4;
}
.social-icon li {
  display: inline-block;
}
.social-icon {
  margin-top: 10px;
}
.social-icon li a {
  display: block;
  background: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  color: var(--themeColor);
  margin-right: 5px;
  font-size: 14px;
  transition: var(--transition);
}
.social-icon li a i {
  color: var(--themeColor);
}
.social-icon li a:hover {
  background: var(--themeColor);
}
.social-icon li a:hover i {
  color: #fff;
}
.single-widget-footer.links ul li a {
	padding-bottom: 15px;
	display: block;
	transition: var(--transition);
}
.single-widget-footer.links ul li a:hover {
  color: var(--themeColor);
}
.widget-inner {
  margin-bottom: 20px;
}
.widget-inner i {
	float: left;
	margin-right: 8px;
	font-size: 13px;
	color: var(--themeColor);
}
.phn-info {
	font-weight: 700;
	font-size: 13px;
	color: #d4d4d4;
	padding-left: 24px;
}
.footer-bottom {
	padding: 25px 0px;
	justify-items: center;
	background: #150E07;
	border-top: 1px solid #2B231C;
}
.footer-bottom ul li a {
  color: #d4d4d4;
}
.footer-bottom ul li {
  color: #d4d4d4;
}
/* sidebar-modal-area */
.sidebar-modal-section {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
}
.sidebar-inner-content {
  width: 30%;
  position: fixed;
  right: 0%;
  top: 0;
  margin-right: -30%;
  height: 100%;
  background: #ffffff;
  z-index: 1;
  padding: 40px 40px;
  overflow-y: scroll;
  transition: 1s ease-in-out;
}
.sidebar-inner-content h4 {
  margin-bottom: 20px;
}
.sidebar-midle ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.sidebar-midle ul li {
  width: 25%;
  padding: 2px;
}
.sidebar-midle ul li a {
  display: block;
  position: relative;
}
.sidebar-midle ul li a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: var(--transition);
}
.sidebar-midle ul li a:hover::before {
  opacity: 1;
}
.sidebar-midle ul li a img {
  max-width: 100%;
}
.sidebar-midle {
  margin: 15px 0px;
}
.sidebar-bottom span {
  display: block;
  font-size: 20px;
}
.sidebar-bottom span:nth-child(1) {
  color: var(--themeColor);
  font-weight: 500;
}
.sidebar-bottom span:nth-child(3) {
  color: #0f021e;
  font-weight: 500;
}
.sidebar-bottom {
  margin-top: 20px;
}
.close-btn-sidebar {
  position: absolute;
  right: 40px;
  top: 10px;
  font-size: 22px;
  color: #979797;
}
.sidebar-bottom ul {
  margin: 20px 0;
}
.sidebar-bottom ul li {
  display: inline-block;
}
.sidebar-bottom ul li a {
  display: block;
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  color: var(--themeColor);
  margin-right: 5px;
  font-size: 14px;
  transition: var(--transition);
  border: 1px solid;
}
.sidebar-bottom ul li a:hover {
  background: var(--themeColor);
  color: #fff;
}
/* sticky-nav */
.fixedNav {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	top: 0;
	box-shadow: var(--boxShadow);
	background: #150E07;
}
#header {
  z-index: 9999;
}
.header-wrapper {
	position: relative;
	z-index: 9;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}
.fixedNav .header-wrapper {
	background: #150E07;
}
.submenu li {
  display: block;
  width: 100%;
}
/*--------------------------------------------------
 sharan-start 
 ---------------------------------------------------*/
/* .hero-slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
} */
.text-content-hero {
  display: none;
}
.theme-default .nivo-caption a {
  color: #fff;
  border-bottom: 0px dotted #fff;
}
.theme-default .nivo-caption a:hover {
  color: var(--themeColor);
}
/* Commmon-btn */
.commonBtn {
  color: #fff;
  display: inline-block;
  position: relative;
  font-size: 12px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
  line-height: 18px;
  background: var(--themeColor);
  margin-top: 10px;
  border-bottom: 0;
  /* border-radius: 3px; */
  font-weight: 500;
  z-index: 1;
}
.commonBtn:before,
.commonBtn:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.commonBtn:hover {
  transition-delay: 0.5s;
}
.commonBtn:hover:before {
  transition-delay: 0s;
  left: 0;
  width: 100%;
}

.commonBtn:hover:after {
  background: white;
  transition-delay: 0.35s;
  top: 0;
  height: 100%;
  border-radius: 10px;
}
.commonBtn:before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  border: 1px solid white;
  border-left: 0;
  border-right: 0;
  border-radius: 3px;
}
.commonBtn:after {
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: white;
}
/* ---------------------------------------
BOOKING-BOX 
----------------------------------------- */
.booking-box-wrapper {
	/* position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%); */
  width: 100%;
  height: 100%;
}
.booking-box {
	padding: 25px;
	background: var(--themeColor);
	width: 100%;
	-webkit-box-shadow: 5px 5px 15px 5px rgba(86, 83, 17, 0.52);
	box-shadow: 5px 5px 15px 5px rgba(86, 83, 17, 0.52);
	
}
.input-box label {
  display: block;
  color: #fff;
  font-weight: 500;
}
.input-box input {
  border: 0;
  padding: 8px;
  width: 49%;
  color: #9f9f9f;
}
.input-box select {
	padding: 8px 15px;
	border: none;
	width: 100%;
	color: #9f9f9f;
	appearance: none;
	-webkit-appearance: none;
}
.input-box input[type="submit"] {
  background: #fff;
  margin-top: 30px;
  transition: var(--transition);
  width: 100%;
  border-radius: 0;
  background: #000;
  color: FFF;
  font-weight: 500;
}
.input-box input[type="submit"]:hover {
  background: #fff;
  color: var(--themeColor);
}
.booking-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.booking-title h4 {
  font-size: 22px;
}
/*-------------------- 
about-seciton 
---------------------*/
.about-left h6 {
  line-height: 22px;
  margin-bottom: 10px;
}
.about-widget-icon {
  float: left;
}
.about-widget-icon i::before {
  margin-left: 0;
  font-size: 36px;
}
.about-widget-icon i {
  display: block;
}
.single-about-widget:hover {
  background: var(--themeColor);
}
.single-about-widget:hover h5 {
  color: #fff;
}
.single-about-widget:hover p {
  color: #fff;
}
.single-about-widget:hover i {
  color: #fff;
  animation-name: icon-trnslate;
  animation-duration: 0.5s;
  animation-direction: normal;
}
@keyframes icon-trnslate {
  50% {
    margin-top: 40px;
  }
  100% {
    margin-top: 0px;
  }
}
.about-widget-text {
  padding-left: 60px;
}
.single-about-widget {
  background: #f4f4f4;
  padding: 20px;
  width: 100%;
  transition: var(--transition);
  margin: 20px 0;
}
.about-widget-text h5 {
  font-weight: 600;
}
.about-widget-text p {
  font-size: 12px;
}
.about-right-slider-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.about-right-slider-wrapper::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  background: var(--themeColor);
  right: 0;
  z-index: -1;
}
.about-right-slider-wrapper::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 85%;
  background: transparent;
  border-radius: 5px solid;
  right: 100px;
  border: 5px solid white;
  top: 50px;
  z-index: -1;
}
.single-slide-wrapper-about {
  width: 60%;
  overflow: hidden;
  margin-top: 15%;
  margin-left: 13%;
}
.single-slide-wrapper-about img {
  width: 100%;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  right: -30px;
  transform: rotate(90deg);
  bottom: 25%;
}
.owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 30px;
  margin: 10px 5px;
  background: transparent;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transform: rotate(-90deg);
  text-align: center;
  line-height: 30px;
  position: relative;
}
.owl-theme .owl-dots .owl-dot span::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 8%;
  background: #000000c5;
  border-radius: 5px solid;
  right: -40px;
  top: 50%;
  transition: all 0.5s ease-in-out;
  transform: rotate(-180deg);
}
.owl-theme .owl-dots .owl-dot.active span:before {
  width: 100%;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: transparent;
  color: #000000d0;
}

/* room adn suits section */
.room-section {
  background: #f4f4f4;
}
.room-filter li {
	display: inline-block;
	position: relative;
	padding: 10px 10px;
	color: #000000c5;
	font-weight: 700;
	transition: var(--transition);
	cursor: pointer;
}
.room-filter li::before {
	width: 1px;
	height: 57%;
	background: #bbb8b8;
	position: absolute;
	content: "";
	transform: rotate(30deg);
	bottom: 7px;
	left: 0px;
}
.room-filter li:nth-child(1)::before {
  display: none;
}
.room-filter {
  text-align: center;
  margin: 40px 0px;
}
.room-filter li:hover {
  color: var(--themeColor);
}
.single-room-wrapper {
  padding: 15px;
  position: relative;
  background-color: transparent;
  margin: 0px 20px;
}
.single-room-wrapper::before {
  width: 100%;
  height: 75%;
  background: transparent;
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  border: 3px solid#000;
}
.single-room-top {
  width: 100%;
  height: 250px;
  position: relative;
}
.single-room-top img {
  width: 100%;
  position: absolute;
  height: 200px;
  left: -40px;
  top: 0px;
}
.single-room-top h4 {
  width: 90%;
  position: absolute;
  left: -30px;
  bottom: 60px;
  font-size: 23px;
  color: #fffffff0;
  border: 2px solid;
  text-align: center;
  margin: 0px 8px;
  font-weight: 500;
}
.single-room-bottom h5 {
  display: block;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.single-room-bottom-left {
  float: left;
}
.single-room-bttom-right a {
  margin-left: 40px;
}
.single-room-bottom-left ul li i {
  font-weight: 600;
  font-size: 14px;
  margin-right: 10px;
  color: #000000c9;
}
.single-room-bottom-left ul li i::before {
  margin-right: 4px;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev span {
  color: #fff;
  font-size: 24px;
  background: #000000d6;
  display: inline-block;
  width: 28px;
  border-radius: 0px;
}
.room-section .owl-theme .owl-nav {
  margin-top: 30px;
}
/* blog-section */
.blog-text-content.text-left ul li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.blog-text-content h4 a {
  font-size: 24px;
  color: #000000c9;
}
.blog-wrapper {
  padding: 20px 0px;
}
/* specialization-section */
.specialization-content-left-bottom {
	justify-content: space-between;
	display: flex;
	margin-top: 125px;
}
.single-count-wrraper {
  margin: 20px 0px;
}
.single-count-wrraper h3 {
  font-size: 34px;
  color: #fff;
}
.single-count-wrraper span {
  color: #fff;
}
.specialization-text-content.text-left h4 {
  margin-bottom: 20px;
  color: #fff;
}
.icon-box-specialization-single {
  text-align: center;
  padding: 40px;
  color: #fff;
}
.icon-box-specialization-single {
  text-align: center;
  padding: 40px;
  border: 1px solid;
  margin: 5px;
}
.icon-special i::before {
  font-size: 45px;
  margin-left: 0;
  color: #fff;
}
.icon-box-specialization-single h4 {
  font-size: 20px;
  color: #fff;
}
.specialization-section {
  /* background: url(assets/img/bg/1.jpg); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  /* background-attachment: fixed; */
}
.specialization-section::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}
.service-section .single-about-widget {
  background: transparent;
  padding: 20px 10px;
  width: 100%;
  transition: var(--transition);
  margin: 20px 0;
  text-align: center;
  border: 1px solid #f4f4f4;
}
.service-section .single-about-widget:hover {
  background: var(--themeColor);
}
.service-section .about-widget-icon {
  float: none;
}
.service-section .about-widget-text {
  padding-left: 0px;
}
.service-section .about-widget-icon i::before {
  margin-left: 0;
  font-size: 44px;
  margin-bottom: 15px;
  display: block;
}
.service-section .single-about-widget:hover i {
  color: #fff;
  animation-name: service;
  animation-duration: 0.5s;
  animation-direction: normal;
}
.service-section.ptb-100 a {
  margin-top: 35px;
}
@keyframes service {
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
/* clients-area */
.single-client-wrapper {
  width: 100%;
  padding: 12px 0px;
  margin: 10px 0px;
}
.client-left {
  float: left;
  width: 125px;
  margin-left: 15px;
  position: relative;
}
.client-right {
  padding-left: 165px;
}
.client-left::before {
  position: absolute;
  content: "";
  height: 40%;
  width: 2%;
  background: #fff;
  bottom: -15px;
  left: -15px;
}
.client-left::after {
  position: absolute;
  content: "";
  height: 2%;
  width: 40%;
  background: #fff;
  bottom: -15px;
  left: -15px;
}
.client-right h6 {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
.client-right p {
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  margin-top: 15px;
  display: block;
}
.client-right span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 3px;
  position: relative;
}
.client-right span::after {
  position: absolute;
  width: 30px;
  height: 1px;
  background: #fff;
  content: "";
  bottom: 6px;
  left: 104%;
}
.clients-wrapper {
  position: relative;
}
.clients-wrapper .owl-nav {
  position: absolute;
  right: 0;
  top: -80px;
}
/* team-area */
.single-team-item {
	text-align: center;
	transition: var(--transition);
	margin-bottom: 80px;
}
.team-top-content {
	border: 5px solid #000;
	padding: 20px;
	height: 415px;
	position: relative;
}
.team-social-link ul li {
  display: inline-block;
}
.team-social-link ul li a {
  border: 2px solid#000;
  width: 30px;
  display: block;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #000;
  margin: 5px;
  transition: var(--transition);
}
.team-social-link ul li a:hover{
  color: var(--themeColor);
}
.team-img {
	position: absolute;
	left: 0;
	padding: 0px 15px;
	bottom: 4%;
	transition: var(--transition);
}
.team-social-link {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
  transition: var(--transition);
}
.pt-100 {
  padding-top: 100px;
}
.single-team-item:hover .team-img{
  bottom: 14%;
}
.single-team-item:hover .team-social-link{
  bottom: 10px;
  z-index: 1;
}
.team-bottom-content {
	margin-top: 20px;
}
.team-bottom-content h4 {
	font-size: 20px;
	color: #000000c4;
}
/*--------------------------------
 booking -section
 -------------------------------- */
.hero-inner-text {
	background: url(assets/img/blog/1.jpg) no-repeat center center;
	background-size: cover;
  height: 80vh;
  position: relative;
}
.hero-inner-text::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	/* z-index: -1; */
}
 .header-wrapper.booking-header{
   background: #150E07;
 }
.about-hero-text-wrapper h2 {
	color: #FFF;
	font-size: 48px;
}
.brundcrum ul li{
  color: #ffffffbb;
  font-weight: 600;
}
.brundcrum ul li a {
	color: #FFF;
	font-weight: 600;
  position: relative;
  margin-right: 10px;
}
.brundcrum ul li a::before {
	position: absolute;
	content: "";
	height: 100%;
	width: 3px;
	background: #FFF;
	right: -7px;
}
.about-hero-text-wrapper {
	text-align: center;
	z-index: 1;
}
.single-nav-item{
  text-align: center;
}
.single-nav-item span {
	display: inline-block;
	width: 50px;
	height: 50px;
	border:1px solid var(--themeColor);
	text-align: center;
  line-height: 50px;
  -webkit-border-radius:50%;
	border-radius: 50%;
	font-size: 24px;
	color: var(--themeColor);
	font-weight: 600;
	margin-bottom: 20px;
}
.single-nav-item h4 {
	font-size: 18px;
	font-weight: 500;
	display: block;
	text-transform: uppercase;
}
.booking-nav ul {
	display: flex;
	justify-content: space-around;
	border-bottom: 10px solid #f4f4f4;
}
.booking-nav ul li {
	display: inline-block;
	position: relative;
	width: 25%;
}
.booking-nav ul li a{
  display: block;
  margin: 20px;
  padding-bottom: 10px;
  width: 100%;
}
.booking-wrapper {
	padding: 100px 0px;
}
.booking-nav ul li a::before {
	position: absolute;
	content: "";
	height: 10px;
	width: 0%;
	background: var(--themeColor);
	bottom: -10px;
	left: 0px;
	transition: var(--transition);
}
.booking-nav ul li a:focus::before{
  width: 100%;
}
.booking-nav ul li a:focus .single-nav-item span{
  background: var(--themeColor);
  color: #FFF;
}
.booking-tab-content-wrapper {
	padding: 50px 0px;
}
.star-rating li {
	display: inline-block;
	margin-top: 22px;
}
.star-rating li i{
  color:orange;
}
.star-rating li:nth-child(5) i{
  color: #0000009a;
}
.hetel-booking-right h6 {
	color: #000000bf;
	font-weight: 500;
}
.service-icon-booking li {
	width: 24%;
	display: inline-block;
	margin: 20px 0px;
	justify-content: space-between;
	color: #000000f0;
	font-weight: 500;
}
.service-icon-booking li i {
	margin-right: 30px;
}
.booking-wrapper .booking-box {
	padding: 15px 10px;
	background: var(--themeColor);
	position: relative;
	width: 100%;
	left: 0%;
	right: 0%;
	bottom: -2%;
	z-index: 99;
	-webkit-box-shadow: 0px 0px 0px 0px;
	box-shadow: 0px 0px 0px 0px;
	margin: 40px 0;
}
.booking-title h4 {
	font-size: 20px;
}
.booking-wrapper .input-box input {
	border: 0;
	padding: 10px 0;
	width: 46%;
	color: #dfdddd;
	background: transparent;
	border-bottom: 2px solid #dfdddd;
	margin-right: 10px;
}
.booking-wrapper .input-box select {
	padding: 10px 0px;
	width: 100%;
  color: #dfdddd;
	background: transparent;
	border-bottom: 2px solid #dfdddd;
	margin-right: 10px;
}
.booking-wrapper .input-box input[type="submit"] {
	background: #fff;
	margin-top: 30px;
	transition: var(--transition);
	width: 100%;
	border-radius: 0;
	background: transparent;
	color: #FFF;
  font-weight: 500;
  border: 2px solid #dfdddd;
}
.booking-wrapper .input-box input[type="submit"]:hover{
  background:#FFF;
  color:var(--themeColor);
}
input,select,textarea:focus{
  outline:none;
}
::-webkit-calendar-picker-indicator {
  filter:invert(1) brightness(80%);
}
.booking-title h4 {
	font-size: 20px;
	color: #FFF;
}
.booking-details-data-table table {
	border: 1px solid #f0e8e8;
	width: 100%;
}
.booking-details-data-table table td {
	border: 1px solid #f0e8e8;
	padding: 15px;
	text-transform: uppercase;
	font-size: 12px;
}
.booking-details-data-table table td span {
	color: #222c;
	font-weight: 600;
	font-size: 15px;
	display: block;
}
.booking-next-pre-btn {
	width: 100%;
	border-top: 1px solid #f0e8e8;
	padding-top: 20px;
}

/* personal-info */
.personal-info-wrapper input, select, textarea{
	width: 100%;
	padding: 10px;
	margin-bottom: 45px;
  border: 1px solid #d3d3d3;
  color:#757373;
}
.payment-info-wrapper input,select{
  width: 100%;
	padding: 10px;
	margin-bottom: 45px;
  border: 1px solid #d3d3d3;
  color:#757373;
}
.payment-info-wrapper p{
  margin-bottom: 20px;
}
.personal-info-wrapper {
	padding: 50px 0;
}
.booking-card ul li {
	display: inline-block;
}
.booking-card {
	width: 100%;
	height: 100%;
	margin: 50px 0px;
}
.payment-card{
	margin-bottom: 50px;
}
.payment-info-wrapper.payment-done {
	padding: 50px 0px;
}
.booking-details-data-table {
	padding-bottom: 20px;
}
.success-btn-booking {
	width: 100%;
	display: block;
	color: #FFF;
	padding: 20px 10px;
	font-size: 18px;
	font-weight: 500;
}
.success-btn-booking i::before {
	font-size: 12px;
	margin-left: 0px;
}
.success-btn-booking i {
	font-size: 12px;
	margin-right: 15px;
	border: 2px solid;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	line-height: 40px;
	text-align: center;
}

/* about-section */
.about-us p {
	margin: 40px 0px;
}
.about-us-room-ser h4 {
	font-weight: 500;
}
.book-room-btn {
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
}
.book-room-btn::before {
	height: 70%;
	position: absolute;
	content: "";
	background: #F4f4f4;
	left: -40px;
	width: 2px;
	top: 40px;
}
.about-img {
	margin: 50px 0;
}
.brand-slider-section.py-5.about-team .section-title {
	margin-bottom: 100px;
}
.brand-slider-section.py-5.about-team .section-title h4{
  font-weight: 500;
}
.staff .team-top-content {
	height: 280px;
}
.staff .team-social-link ul li a {
	margin: 4px;
}
/* contact-section */
.contact-us label {
	display: block;
	margin: 20px 0px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
}
.contact-us form input, textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #e1dbdb;
	margin-bottom: 20px;
}
.contact-us form input[type="submit"]{
  width: 25%;
}
label.cntct-info-hed {
	margin: 0;
	margin-bottom: 10px;
}
.contact-info-right li {
	margin-bottom: 20px;
}
.contact-info-right li i {
	margin-right: 20px;
  font-size: 16px;
  float: left;
}
.contact-info-right li span{
  padding-left:0px;
  display: inline-block;
}
.contact-info-right .social-icon li a i {
	margin-right: 0;
}
.contact-social li a {
  color: #00000087;
  transition: var(--transition);
}
.contact-social li a:hover{
  color: var(--themeColor);
}
 /*----------------------- 
 Gallery-section
 ----------------------------*/
.gallery_showcase .nav li a.nav-link.active {
  border: 2px solid var(--themeColor);
  color: var(--themeColor);
} 
.gallery_showcase .nav li a{
	padding: 5px 25px;
	display: block;
	color: #000000c9;
	font-weight: 600;
	border: 2px solid;
	margin: 5px;
}
.gallery_showcase .nav{
  padding: 50px 0px;
}
.sigle-gallery-img {
	margin-bottom: 20px;
	width: 100%;
  /* height: 212px; */
  position: relative;
}
.img-overlay a::before{
  left:10%;
  top: 0;
  width: 5px;
  height: 0%;
  background:#FFF;
  position: absolute;
  content: "";
  transition: var(--transition);
}
.img-overlay a::after{
  left:0%;
  bottom: 10%;
  width: 0%;
  height: 5px;
  background:#FFF;
  position: absolute;
  content: "";
  transition: var(--transition);
}
.sigle-gallery-img img{
  width: 100%;
  height: 100%;
}

.img-overlay a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.5);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
  color: #000000ca;
  opacity: 0;
  transition: var(--transition);
}
.img-overlay a i{
  background: #FFF;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #000000ca;
  border-radius: 50%;
}
.img-overlay a:hover{
  opacity: 1;
}
.img-overlay a:hover::after{
  width: 100%;
}
.img-overlay a:hover::before{
  height:100%;
}
.gallery_showcase .owl-nav {
	position: absolute;
	right: -53%;
	bottom: 0;
}
.image-bottom-wrapper {
	margin: 50px 0px;
}
/* pagination */
.gallery-pagination-wrapper ul{
  text-align: center;
  margin: 50px 0px;
}
.gallery-pagination-wrapper ul li {
	display: inline-block;
}
.gallery-pagination-wrapper ul li a {
	padding: 10px;
	text-transform: uppercase;
	font-weight: 500;
	color: #000000f7;
	transition: var(--transition);
}
.gallery-pagination-wrapper ul li a:hover{
  color: var(--themeColor);
}
.gallery-pagination-wrapper ul li a i {
	margin: 0px 10px;
}
/* accomodation-section */
.room-info-bottom {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 4%;
	background: #FFF;
	width: 90%;
	left: 5%;
	height: 20%;
	align-items: center;
	padding: 0px 20px;
}
.room-info-left h5 {
	float: right;
	margin-left: 5px;
	font-weight: 500;
	margin-bottom: 0;
	margin-top: 5px;
}
.room-info-left h5 span {
	font-weight: normal;
	font-size: 12px;
  padding-left: 10px;
  position: relative;
}
.room-info-left h5 span::before {
	position: absolute;
	content: "";
	height: 100%;
	width: 3%;
	background: #a29c9c;
	left: 4px;
	transform: rotate(30deg);
	bottom: 0;
}
.room-info-bottom .commonBtn {
	margin-top: 0px;
	background: transparent;
	border: 2px solid var(--themeColor);
  color: var(--themeColor);
  transition: var(--transition);
}
.room-info-bottom .commonBtn:hover{
  background: var(--themeColor);
}
.room-info-left h4 {
	font-weight: 500;
	margin-right: 10px;
	display: inline-block;
	margin-bottom: 0;
	border-right: 2px solid #eeeded;
	padding-right: 10px;
}
.room-info-bottom.side h4 {
	font-size: 18px;
}
.room-info-bottom.side h5 {
	font-size: 14px;
}
.room-info-bottom.side a.commonBtn {
	font-size: 8px;
	padding: 2px 5px;
	border: 1px solid;
}
.single-img-info-bottom {
	display: flex;
	padding-bottom: 20px;
	border-bottom: 1px solid #e3dddd;
	margin-bottom: 20px;
	justify-content: space-between;
}
.roomprice-accomodation h4 {
	font-size: 18px;
	font-weight: 500;
	color: #727272;
}
.roomprice-accomodation h5 {
	font-size: 20px;
  font-weight: 500;
  color: #727272;
}
.roomprice-accomodation h5 span {
	font-weight: normal;
	font-size: 12px;
  padding-left: 10px;
  position: relative;
  color: #727272;
}
.roomprice-accomodation h5 span::before {
	position: absolute;
	content: "";
	height: 100%;
	width: 3%;
	background:#727272;;
	left: 4px;
	transform: rotate(30deg);
	bottom: 0;
}
.single-img-info-bottom a.commonBtn {
	background: transparent;
	border: 2px solid var(--themeColor);
	color: var(--themeColor);
	transition: var(--transition);
	display: block;
	height: 40px;
}